<!DOCTYPE html>
<html lang="en">
<head>
  @@include('./../includes/meta.html')
</head>
<body>
  <!-- <h1 style="position: absolute; top: 0; left: 0; right: 0;">Shaders</h1> -->
  <div id="container">
    <canvas id='canvas'></canvas>
    <h1 class="bono">Pork heads</h1>
    <div class="buttons">
      <button class="play">play</button>
      <button class="pause">pause</button>
      <button class="reset">reset</button>
      <input class="range" type="range" min="0" max="100">
      <button class="jump">Раздвинуть</button>
    </div>
  </div>
  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>
</html>
